{% extends 'Soporte/base.html' %}

{% block title %}Inicio de Sesión{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        

        <h2>Consejo de la Magistratura</h2>
        <h3>Unidad de Informática</h3>

        <form method="post">
            {% csrf_token %}
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer>
    <p>© 2025 Consejo de la Magistratura - Todos los derechos reservados</p>
</footer>
{% endblock %}
